<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if trek %} Update Trek {% else %}Add Trek {% endif %}</title>
</head>
<body>
    {% if trek %}
    <form method="POST" action="/add_trek">
        <input type="hidden" name="_method" value="PATCH">
        <input type="hidden" name="trek_id" value="{{ trek.trek_id }}">
        <label for="trek_name_upd">Trek Name</label>
        <input type="text" id="trek_name_upd" name="trek_name_upd" value="{{trek.trek_name}}"><br>
        <input type="submit" value="Update Trek">
    </form>
    {% else %}
    <form method="POST" action="/add_trek">
        <label for="trek_name">Trek Name</label>
        <input type="text" id="trek_name" name="trek_name" required><br>
        <input type="submit" value="Add Trek">
    </form>
    {% endif %}
</body>
</html>