<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <form method="POST" action="/search_trek">
        <input type="text" name="s_trek" placeholder="Enter the trek name you want to search" required>
        <button type="submit">Search</button>
    </form>

    {% if search_performed %}
        {% if searched_data %}
        <h3>Searched Data</h3>
            {% for searched_trek in searched_data %}
                {{ searched_trek.trek_name }}
            {% endfor %}
        {% endif %}
    {% endif %}
    <br>
    <br>
    <h3>All Treks</h3>
    {% for trek in treks %}
        Trek Name : {{ trek.trek_name }} &nbsp; <a href="/add_trek/{{ trek.trek_id }}"><button>Update Trek</button></a>
        <form method="POST" action="/add_trek">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="trek_id" value="{{ trek.trek_id }}">
            <button type="submit">Delete</button>
        </form>
    {% endfor %}
    <br>
    <br>
    <a href="/add_trek"><button>Add Trek</button></a>
    <br>
    {% for user in users %}
        {% if user.role == 'trek_staff' and user.approved %}
            {{ user.user_name }}<br>
        {% elif user.role == 'trek_staff' and not user.approved %}
            {{ user.user_name }} &nbsp; <a href="/staff_approve/{{user.user_id}}"><button>Approve</button></a><br>

        {% elif user.role == 'user' %}
            {{ user.user_name }}<br>

        {% endif %}
    {% endfor %}
</body>
</html>