<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    {% for trek in treks %}
        Trek Name : {{ trek.trek_name }} &nbsp; <a href="/add_trek/{{ trek.trek_id }}"><button>Update Trek</button></a>
        <form method="POST" action="/add_trek">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="trek_id" value="{{ trek.trek_id }}">
            <button type="submit">Delete</button>
        </form>
    {% endfor %}

    <a href="/add_trek"><button>Add Trek</button></a>
</body>
</html>